$app-bar-border-radius: 0 !default;
$app-bar-elevation: 4 !default;
$app-bar-scrolled-title-padding-bottom: 9px !default;
$app-bar-shaped-border-radius: map-get($rounded, 'xl') $app-bar-border-radius !default;
$app-bar-transition-duration: 0.2s !default;
$app-bar-transition-timing-function: $standard-easing !default;
